language: cpp
notifications:
  email: false

addons:
  apt_packages:
    - cmake
    - libxrandr-dev
    - libudev-dev
    - libopenal-dev
    - libflac-dev
    - libvorbis-dev
    - libgl1-mesa-dev
        
before_scirpt:
- eval "${MATRIX_EVAL}"
- mkdir build && cd build
- cmake ..
- cat CMakeFiles/CMakeOutput.log

script:
- cmake --build .



matrix:
  include:

  - name: "Linux gcc"
    os: linux
    dist: xenial
    compiler: gcc
    addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-9
            - g++-9
    env:
        - MATRIX_EVAL="export CC=gcc-9; export CXX=g++-9"

  - name: "Linux clang"
    os: linux
    dist: xenial
    compiler: clang
    addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-7-dev
    env:
        - MATRIX_EVAL=""

  - name: "macOS Xcode 10"
    os: osx
    osx_image: xcode10
    env:
        - MATRIX_EVAL=""
    
  - name: "Visual studio 17 2019"
    os: windows
    env:
        - MATRIX_EVAL=""